.navbar{
    background-color: #1a1a1a;
}
.nav-item{
    color: white;
}

.nav-item:hover{
    color: darkred;
}
.btn-danger{
    margin-right: 5px;
}
.icon-fav{
    margin-right: 5px;
}
body{
    background-color: #252525;
}
.h1-welcome{
    color: white;
    margin-right: 2px;
}
.paragraph-welcome{
    margin-right: 2px;
    font-size: 30px;
    color: white;

}
span{
    color: #a80303;
}





/*  master */
 .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }


.navbar-nav .nav-item .nav-link {
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff6347 !important;
    font-size: 1.2rem;
    border-bottom: 2px solid #ff6347;
}



.card-custom {
    background-color: #212529;
    color: #343a40;
    border: 2px solid #ff6347;
    padding: 0px;
}

.card-custom:hover{
    background-color: #343a40;
}

.card-custom .card-title {
    color: white;
}

.card-custom .card-text {
    color: white;
}

.card-header{
    background-color: #6c757d;
    margin: 0px;
}

.card-header h5  {
    color: black;
}









.card-custom-folder {
    background-color: #212529;
    color: #343a40;
    border: 2px solid #ff6347;
    padding: 0px;


}

.card-custom-folder:hover{
    background-color: #343a40;
}

.card-custom-folder .card-title {
    color: white;
    width: 250px; /* اجعل حجم المربع ثابتًا */
    height: 50px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-wrap;
}

.card-custom-folder .card-text {
    color: white;
    width: 250px; /* اجعل حجم المربع ثابتًا */
    height: 150px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-wrap;
}

.card-custom-folder .card-created-at {
    color: white;
}
.card-custom-folder .card-title span {
    color: #ff6347 ;
}


.name_folder_in_note_show{
    color: #ff6347 ;
}
